<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monte-Carlo method</title>
    <style>
        html{
            font-family: sans-serif;
        }
        form {
            text-align: center;
        }
        p {
            font-size: large;
        }
    </style>
</head>
<body>
<form action="/" enctype="multipart/form-data" method="POST">
    <p>Upload your file:</p>
    <p><input type="file" name="file" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
        <input type="submit" value="Send"> </p>
</form>
</body>
</html>